body {
  background-color: #abdbe3;
  font-family: "Lucida Console", "Courier New", serif;
  
}
nav {
  list-style-type: none;
  background-color: lavender;
  width: 100%;
  position: fixed; 
  top: 0;
  right: 0;
}
li {
  display: inline;
  padding: 13px;
  float: right;
}

li:hover {
  background-color: yellow;
}
a {
  text-decoration: none;
  color: brown;
}

h1 {
  color:#2425FF;
  text-align: center; 
}

img {
  width: 200px;
  border: dotted pink 5px;
}

img:hover {
  width: 250px;
  border: solid gold 6px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
